<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <logo><a class="navbar-brand" href="#">Kwetter</a></logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
    <ul class="navbar-nav nav-flex-icons" *ngIf="user">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">1 <i class="fa fa-envelope"></i></a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light waves-effect" mdbWavesEffect>
          <img src="{{ user.profile.pictureLocation }}" class="img-fluid rounded-circle z-depth-0"><span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-menu-right dropdown-secondary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons" *ngIf="!user">
      <li class="nav-item avatar dropdown" dropdown>
        <a href="#" id="navbar-static-login" class="nav-link waves-effect waves-light" (click)="loginModal.show()" mdbWavesEffect><i class="fa fa-sign-in mr-1"></i><span class="clearfix d-none d-sm-inline-block">Log In</span></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--Modal: Login Form-->
<div mdbModal #loginModal="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form (ngSubmit)="doLogin()" #loginForm="ngForm" id="login-form">
          <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="email" id="email" class="form-control" name="email" required [(ngModel)]="login.email">
            <label for="email">Your email</label>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-lock prefix"></i>
            <input mdbInputDirective type="password" id="password" class="form-control" name="password" required [(ngModel)]="login.password">
            <label for="password">Your password</label>
          </div>

          <div class="text-center mt-2">
            <button class="btn btn-info waves-light" mdbWavesEffect>Log in <i class="fa fa-sign-in ml-1"></i></button>
          </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <div class="options text-center text-md-right mt-1">
          <p>Not a member? <a href="#" (click)="loginModal.hide(); register.show();">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
        <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="loginModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login Form-->
<!--Modal: Register Form-->
<div mdbModal #register="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="register.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form (ngSubmit)="register()" #loginForm="ngForm" id="register-form">
        <div class="md-form form-sm">
          <i class="fa fa-envelope prefix"></i>
          <input mdbInputDirective type="email" name="email" id="form32" class="form-control">
          <label for="form32">Your email</label>
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective type="password" id="form33" class="form-control">
          <label for="form33">Your password</label>
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input mdbInputDirective type="password" id="form34" class="form-control">
          <label for="form34">Repeat password</label>
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info waves-light" mdbWavesEffect>Sign up <i class="fa fa-sign-in ml-1"></i></button>
        </div>
        </form>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <div class="options text-center text-md-right mt-1">
          <p>Already have an account? <a href="#" (click)="register.hide(); loginModal.show();">Log In</a></p>
        </div>
        <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="register.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Register Form-->
