img {
  height: auto;
  vertical-align: middle;
  border-style: none;
  max-width: 150px;
  max-height: 150px;
}

.card-wrapper .avatar img {
  border: 5px solid #fff;
  background: none repeat scroll 0 0 #fff;
  width: 100%;
}
