img {
  max-height: 250px;
}

.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  -webkit-border-top-left-radius: .25rem;
  border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  border-top-right-radius: .25rem;
}
.indigo.lighten-1 {
  background-color: #5c6bc0!important;
}
.indigo {
  background-color: #3f51b5!important;
}

.testimonial-card .avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
}

.card-body .card-meta {
  font-weight: 300;
  font-size: .86rem;
  color: #757575;
  padding: 4px;
}
