img {
  vertical-align: middle;
  border-style: none;
  height: auto;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-sizing: border-box;
}

.tweet {
  padding: 10px 0px;
}
