<section class="tweet">
  <div class="row">
    <div class="col-sm-2 col-12">
      <img src="{{ tweet.user.profile.pictureLocation }}">
    </div>
    <div class="col-sm-10 col-12">
      <a [routerLink]="['/user/' + tweet.user.id]"><h3 class="user-name">{{ tweet.user.profile.firstName }} {{ tweet.user.profile.lastName }}</h3></a>
      <div class="card-data">
        <ul class="list-unstyled">
          <li class="comment-date"><i class="fa fa-clock-o"></i> {{ tweet.date | amTimeAgo  }}</li>
        </ul>
      </div>
      <p class="comment-text">{{ tweet.message }}</p>
    </div>
  </div>
</section>

